@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

:root {
  --font: "Montserrat", sans-serif;
  --black: #4e5150;
  --orange: #f2994a;
  --attribution: #bdbdbd;
  --gray1: #333333;
  --gray2: #4f4f4f;
  --gray3: #828282;
  --gray4: #bdbdbd;
  --gray5: #e0e0e0;
  --gray6: #f2f2f2;
  --white: #ffffff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  font-weight: 600;
}

.container {
  width: 60rem;
  margin: 4rem auto 1.5rem;
}

img,
svg {
  display: block;
}

/* Header Section */
header {
  margin-bottom: 3.18375rem;
}

.title {
  color: var(--black);
  font-size: 2.25;
}

/* Main Section */
main {
  margin-bottom: 9.9375rem;
}

.checkout {
  display: flex;
}

/* Checkout Form */
.form {
  padding-right: 7rem;
}

.contact {
  margin-bottom: 2.375rem;
}

.form-heading {
  font-size: 1.125rem;
  color: var(--gray1);
  padding-bottom: 0.934375rem;
}

.input {
  position: relative;
}

.icon-container {
  position: absolute;
  top: 1rem;
  left: 0.875rem;
}

.icon {
  fill: var(--gray3);
}

.form-label {
  color: var(--gray2);
  font-size: 0.75;
  display: block;
  margin-bottom: 0.4375rem;
}

.error-container {
  height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  opacity: 0;
}

.error-icon {
  fill: var(--orange);
  transform: scale(0.75);
}

.error-message {
  color: var(--orange);
  font-size: 0.75rem;
  color: var(--orange);
}

.form-input {
  outline: none;
  border: 1px solid var(--gray3);
  border-radius: 12px;
  background-color: var(--white);
  color: var(--gray1);
  font-family: inherit;
  padding: 1.125rem 1.125rem 1.125rem 3.25rem;
  font-size: 1rem;
  width: 100%;
}

#phone {
  margin-bottom: 0;
}

.form-input::placeholder {
  color: var(--gray3);
  font-size: 1rem;
  opacity: 1;
}

.country-postal-code {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.9375rem;
}

#country {
  color: var(--gray3);
}

/* Hide Default Arrow */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.arrow {
  background-color: var(--gray5);
  border-radius: 4px;
  cursor: pointer;
  width: 1.3125rem;
  height: 1.3125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1.125rem;
  right: 0.6875rem;
}

.arrow-icon {
  fill: var(--gray3);
}

.save-details {
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
}

.checkbox {
  border: 1px solid var(--gray3);
  border-radius: 4px;
  width: 1.3125rem;
  height: 1.3125rem;
  margin: auto 0.6875rem auto 0;
}

.checkbox-label {
  color: var(--gray2);
  font-size: 0.75;
}

.continue {
  display: flex;
  justify-content: flex-end;
}

.submit-btn {
  background-color: var(--orange);
  color: var(--white);
  border: none;
  outline: none;
  font-size: 1rem;
  font-family: inherit;
  font-weight: inherit;
  border-radius: 12px;
  padding: 1.0625rem 2.8125rem;
  cursor: pointer;
  border: 2px solid var(--orange);
}

.submit-btn:hover {
  background-color: var(--white);
  color: var(--orange);
}

/* Shopping Cart */
.cart-container {
  background-color: var(--gray6);
  width: 23.9375rem;
  height: 535px;
  border-radius: 12px;
  padding: 29px;
  margin-top: 0.5625rem;
}

.item {
  display: flex;
  margin-bottom: 1.974375rem;
}

.last {
  margin-bottom: 5.955625rem;
}

.image {
  border-radius: 13px;
  width: 8.4rem;
  height: auto;
  margin-right: 1.25rem;
}

.item-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.item-name {
  color: var(--black);
  font-size: 1rem;
  margin-bottom: 0.375rem;
}

.price {
  display: flex;
  gap: 1rem;
}

.sale-price {
  color: var(--orange);
  font-size: 1rem;
}

.regular-price {
  color: var(--black);
  font-size: 0.75rem;
  text-decoration-line: line-through;
}

.counter {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--gray3);
  border-radius: 12px;
  padding: 0.984375rem 0.701875rem 0.940625rem 0.81875rem;
  width: 8.390625rem;
}

.quantity {
  font-size: 1rem;
  color: var(--gray1);
  align-self: center;
}

.decrease,
.increase {
  background-color: var(--gray5);
  border-radius: 4px;
  cursor: pointer;
  width: 1.325rem;
  height: 1.325rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-icon {
  fill: var(--gray3);
}

.divider {
  border-top: 1px solid var(--gray4);
  margin: 0.5rem 0;
}

.cart-shipping,
.cart-total {
  display: flex;
  justify-content: space-between;
  color: var(--gray1);
}

.shipping-heading,
.total-heading {
  font-size: 1.125rem;
}

.cart-total {
  padding-top: 0.5rem;
}

.shipping-cost,
.total-cost {
  font-size: 0.875;
}

/* Footer Section */
.attribution {
  color: var(--attribution);
  font-size: 0.875rem;
  text-align: center;
}

.attribution a {
  color: var(--attribution);
}

.attribution a:hover {
  color: var(--orange);
  text-decoration: none;
}

/* Media Queries */
@media screen and (max-width: 1080px) {
  .container {
    width: 100%;
  }

  .checkout {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2.4375rem;
  }

  header,
  .form {
    width: 23.9375rem;
  }

  header {
    margin-inline: auto;
  }

  .form {
    padding-right: 0;
  }

  .cart-container {
    margin: 0 auto;
    height: auto;
  }

  .error-icon {
    transform: scale(0.5);
  }

  .error-message {
    font-size: 0.625rem;
  }

  .country-postal-code {
    gap: 1.455rem;
  }
}

@media screen and (max-width: 576px) {
  .title {
    font-size: 1.5rem;
  }

  header {
    margin-bottom: 1.3125rem;
  }

  .image {
    width: 7.675rem;
    height: 7.8rem;
  }

  .item-name {
    font-size: 0.75rem;
  }

  .sale-price {
    font-size: 0.875rem;
  }

  .regular-price {
    font-size: 0.625rem;
  }

  .shipping-heading,
  .total-heading,
  .form-heading {
    font-size: 0.875rem;
  }

  .form-label {
    font-size: 0.625rem;
  }

  .form-input,
  .form-input::placeholder {
    font-size: 0.75rem;
  }

  .checkbox {
    width: 1rem;
    height: 1rem;
  }

  .form-input {
    padding: 0.8rem 0.9rem 0.8rem 2.4375rem;
  }

  .icon {
    transform: scale(0.75);
  }

  .icon-container {
    top: 0.6rem;
    left: 0.73rem;
  }

  .arrow {
    width: 0.9375rem;
    height: 0.9375rem;
    top: 0.865625rem;
    right: 0.5625rem;
  }
}

@media screen and (max-width: 400px) {
  header,
  .form,
  .cart {
    width: min(95%, 21.875rem);
  }

  .cart-container {
    width: 100%;
  }

  .checkout {
    width: 100%;
  }
}

@media screen and (max-width: 350px) {
  .country-postal-code {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .item-details {
    margin-top: 0.5rem;
    align-items: center;
  }

  .image {
    margin-right: 0;
  }
}
